.page-footer {
  position: relative;
  background-color: #121216;
  text-align: center;
  height: 82px;
}

.page-footer__inner {
  padding-top: 31px;
}

.copyright {
  color: #ffffff;
  font-size: 16px;
  margin-top: 0;
  @include max-w($screen-480) {
    font-size: 12px;
  }
}