
@font-face {
  font-family: 'Hesterica';
  src: url('Hesterica.eot?#iefix') format('embedded-opentype'),  url('Hesterica.woff') format('woff'), url('Hesterica.ttf')  format('truetype'), url('Hesterica.svg#Hesterica') format('svg');
  font-weight: normal;
  font-style: normal;
}
