
@font-face {
  font-family: 'Muli-Regular';
  src: url('Muli-Regular.eot?#iefix') format('embedded-opentype'),  url('Muli-Regular.woff') format('woff'), url('Muli-Regular.ttf')  format('truetype'), url('Muli-Regular.svg#Muli-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
